*.class
*.log
.java-version
*.zip
*.tar.gz
hs_err_pid*
schema.graphql
.DS_Store

build
.gradle
.idea
runConfigurations/
.kotlin/
.run/
gradlew.bat
.env
rover/
.focus
.vscode/
/.claude/settings.local.json
bin/

CLAUDE.md